@charset "UTF-8";
@font-face {
  font-family: 'TT Lakes Regular';
  src: url('../fonts/TT/TTLakes-Regular.ttf');
}
@font-face {
  font-family: 'TT Lakes Medium';
  src: url('../fonts/TT/TTLakes-Medium.woff');
}
@media only screen and (max-width: 767px) {
  body {
    font-family: 'TT Lakes Regular';
    color: black;
    background-color: #f8f8f8;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .equipment .header {
    margin-top: 24px;
    display: flex;
    margin-bottom: 16px;
    border-top: 1px solid #d9fff5;
  }
  .header__text {
    color: #7e7e82;
    margin: 16px;
    width: 288px;
    height: 48px;
  }
  .equipment .main {
    position: relative;
    display: flex;
    margin-left: 16px;
  }
  .equipment .main::after {
    z-index: 1;
    content: '';
    position: absolute;
    top: -5px;
    right: 0px;
    min-width: 24px;
    height: 81px;
    background: linear-gradient(
      270deg,
      #f8f8f8 16.84%,
      rgba(248, 248, 248, 0.0001) 100%
    );
  }
  .sample-slider {
    display: flex;
    margin-left: 16px;
  }
  .swiper-slide {
    width: 240px !important;
    height: 72px !important;
    padding-left: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-right: 16px;
  }
  .swiper-slide-active {
    width: 240px !important;
  }
  .swiper__slide-organization {
    margin-top: 20px;
  }
  .swiper-slide:nth-of-type(3) .swiper__slide-organization,
  .swiper-slide:nth-of-type(5) .swiper__slide-organization {
    margin-top: 10px;
  }
  .swiper__slide-link {
    position: absolute;
    display: flex;
    left: 200px;
    top: 16px;
  }
  .swiper__slide-ico {
    display: flex;
    width: 40px;
    height: 40px;
    background-image: url('../img/ico.svg');
    background-repeat: no-repeat;
    background-position: 50%;
  }
  /* стиль для пагинатора что бы был за контентом */
  .swiper {
    position: static !important;
  }
  .swiper .swiper-pagination {
    display: flex;
    justify-content: center;
    top: 88px;
  }
  /* закрыл*/
  .sample-slider .swiper-pagination-bullet {
    width: 12px;
    height: 12px;
  }
  .swiper-pagination-bullet {
    background-color: #ccc;
    opacity: 1 !important;
  }
  .custom-pagination .swiper-pagination-bullet {
    background-color: #dddddd;
  }
  .custom-pagination .swiper-pagination-bullet-active {
    background-color: #b5b6bc;
  }
  .aside {
    display: none;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1120px) {
  body {
    font-family: 'TT Lakes Regular', 'TT Lakes Medium';
    color: black;
    background-color: white;
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
  }
  .equipment .header {
    display: flex;
    min-width: 768px;
    height: 56px;
    margin-top: 32px;
    border-top: 1px solid #d9fff5;
    padding-left: 24px;
  }
  .header__text {
    color: #7e7e82;
  }
  .equipment .main {
    display: flex;
  }
  /* Styles for when the slider is disabled */
  .sample-slider.-non-slider {
    display: flex;
  }
  .sample-slider.-non-slider .swiper-wrapper {
    transform: inherit !important;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .sample-slider.-non-slider .swiper-slide {
    margin-left: 24px;
    width: 208px !important;
    height: 72px;
    padding-left: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-bottom: 16px;
  }
  .sample-slider.-non-slider .swiper-slide-duplicate {
    display: none;
  }
  .swiper {
    overflow: visible !important;
  }
  /* Styles for when the slider is disabled */
  .swiper {
    position: static !important;
  }
  /*!!!!!!!!! */
  .swiper__slide-organization {
    margin-top: 20px;
  }
  .swiper-slide:nth-of-type(3) .swiper__slide-organization,
  .swiper-slide:nth-of-type(5) .swiper__slide-organization {
    margin-top: 10px;
  }
  .swiper__slide-link {
    position: absolute;
    display: flex;
    left: 168px;
    top: 16px;
  }
  .swiper__slide-ico {
    display: flex;
    width: 40px;
    height: 40px;
    background-image: url('./img/ico.svg');
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .equipment .aside {
    display: flex;
    margin: auto;
  }
  .aside__button--on {
    margin-left: 24px;
    margin-top: 8px;
    display: flex;
    background-color: white;
    border: white;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    padding: 0px;
  }
  .aside__button--on::before {
    margin-right: 9px;
    display: flex;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url('../img/icons.svg');
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .aside__button--on.swap::before {
    transform: rotate(180deg);
  }
  .swiper-slide:nth-of-type(n + 7):nth-of-type(-n + 11) {
    display: none;
  }
  .swiper-slide:nth-of-type(n + 7):nth-of-type(-n + 11).visible {
    display: block;
  }
}
@media only screen and (min-width: 1121px) {
  body {
    font-family: 'TT Lakes Regular', 'TT Lakes Medium';
    color: black;
    background-color: white;
    padding: 0;
    margin: 0 auto;
    font-size: 16px;
    line-height: 24px;
  }
  .equipment .header {
    margin-top: 51px;
    border-top: 1px solid #d9fff5;
  }
  .header__text {
    margin-left: 32px;
    color: #7e7e82;
  }
  .equipment .main {
    display: flex;
  }
  /* Styles for when the slider is disabled */
  .sample-slider.-non-slider {
    display: flex;
    width: 1121px;
  }
  .sample-slider.-non-slider .swiper-wrapper {
    transform: inherit !important;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 224px;
  }
  .sample-slider.-non-slider .swiper-slide {
    margin-left: 32px;
    width: 224px !important;
    height: 72px;
    padding-left: 16px;
    border: 1px solid #eaeaea;
    border-radius: 6px;
    margin-bottom: 16px;
  }
  .sample-slider.-non-slider .swiper-slide-duplicate {
    display: none;
  }
  .swiper {
    overflow: visible !important;
  }
  /* Styles for when the slider is disabled */
  .swiper__slide-organization {
    margin-top: 20px;
  }
  .swiper-slide:nth-of-type(3) .swiper__slide-organization,
  .swiper-slide:nth-of-type(5) .swiper__slide-organization {
    margin-top: 10px;
  }
  .swiper__slide-link {
    position: absolute;
    display: flex;
    left: 184px;
    top: 16px;
  }
  .swiper__slide-ico {
    display: flex;
    width: 40px;
    height: 40px;
    background-image: url('.../img/ico.svg');
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .equipment .aside {
    display: flex;
    margin-left: 24px;
    margin-top: 8px;
  }
  .aside__button--on {
    display: flex;
    background-color: white;
    border: white;
    font-family: 'TT Lakes Medium';
    font-size: 16px;
    padding: 0px;
  }
  .aside__button--on::before {
    margin-right: 9px;
    display: flex;
    content: '';
    width: 24px;
    height: 24px;
    background-image: url('../img/icons.svg');
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .aside__button--on.swap::before {
    transform: rotate(180deg);
  }
  .swiper-slide:nth-of-type(n + 9):nth-of-type(-n + 11) {
    display: none;
  }
  .swiper-slide:nth-of-type(n + 9):nth-of-type(-n + 11).visible {
    display: block;
  }
} /*# sourceMappingURL=equipment.css.map */
