@font-face {
  font-family: "Extra Bold";
  src: url("../fonts/TT/TTLakes-ExtraBold.woff");
}
@font-face {
  font-family: "TT Lakes Medium";
  src: url("../fonts/TT/TTLakes-Medium.woff");
}
@media only screen and (max-width: 360px) {
  .burger-menu-bg {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    opacity: 96.05%;
  }
  .burger-menu-bg--open {
    display: block;
  }
  .burger-menu {
    display: none;
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "TT Lakes Medium", "Extra Bold";
    color: black;
    width: 320px;
    height: 100%;
    background: rgb(255, 255, 255);
    padding: 0;
    margin: 0;
    box-shadow: 16px 0px 52px 0px rgba(14, 24, 80, 0.2);
  }
  .burger-menu--open {
    display: block;
  }
  .burger-menu .header {
    display: flex;
    justify-content: space-between;
  }
  .burger-menu .header__left-element {
    display: flex;
    justify-content: flex-end;
  }
  .burger-menu .button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ff3e79;
  }
  .burger-menu .header__left--close {
    margin-left: 16px;
    margin-right: 17px;
  }
  .burger-menu .header__left-button,
  .burger-menu .header__right-button {
    margin-top: 23px;
    margin-bottom: 53px;
  }
  .burger-menu .header__logo {
    width: 97px;
    height: 51px;
    margin-top: 19px;
  }
  .burger-menu .header__left-button {
    margin-left: 16px;
    background-image: url("../img/x.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .header__right-button {
    margin-right: 24px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .main {
    display: flex;
    flex-direction: column;
  }
  .burger-menu .main__navigation-a {
    display: flex;
    padding-left: 16px;
    margin-bottom: 32px;
    border: none;
    background-color: white;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
  }
  .burger-menu .main__navigation-ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .burger-menu .footer {
    display: flex;
    flex-direction: column;
  }
  .burger-menu .footer__info {
    display: flex;
    flex-wrap: wrap;
  }
  .burger-menu .footer__button {
    display: flex;
    margin-right: 16px;
  }
  .burger-menu .footer__button:first-child,
  .burger-menu .p__text-email,
  .burger-menu .p__text-number {
    margin-left: 16px;
  }
  .burger-menu .footer__button:first-child {
    margin-right: 16px;
    background-image: url("../img/t.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .footer__button:nth-child(2) {
    margin-right: 16px;
    background-image: url("../img/chat.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .footer__button:nth-child(3) {
    background-image: url("../img/k.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .p__text-email {
    font-family: "TT Lakes Medium";
    margin-bottom: -12px;
  }
  .burger-menu .p__text-number {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 32px;
    font-family: "Extra Bold";
    white-space: nowrap;
    padding-right: 200px;
  }
  .burger-menu .footer__button-language {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 7px;
    margin-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    border: none;
    background-color: white;
  }
  .burger-menu .footer__button-language:first-child {
    margin-left: 16px;
    color: rgb(126, 126, 130);
  }
  .burger-menu .button:hover {
    filter: invert(100%);
    transition-duration: 0.2s;
  }
  .burger-menu .main__navigation-a:hover {
    border-left: #41f6d7 solid 4px;
    color: rgb(126, 126, 130);
  }
  .burger-menu .footer__button:first-child:hover {
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
  .burger-menu .header__left-element .header__button:hover {
    transform: rotate(135deg);
    transition-duration: 0.5s;
    opacity: 1;
  }
}
@media only screen and (min-width: 360px) and (max-width: 768px) {
  .burger-menu-bg {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    opacity: 96.05%;
  }
  .burger-menu-bg--open {
    display: block;
  }
  .burger-menu {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "TT Lakes Medium", "Extra Bold";
    color: black;
    width: 360px;
    height: 100%;
    background: white;
    padding: 0;
    margin: 0;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  }
  .burger-menu--open {
    display: block;
  }
  .burger-menu .header {
    display: flex;
    justify-content: space-between;
  }
  .burger-menu .header__left-element {
    display: flex;
    justify-content: flex-end;
  }
  .burger-menu .button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ff3e79;
  }
  .burger-menu .header__left-button,
  .burger-menu .header__right-button {
    margin-left: 24px;
    margin-top: 23px;
    margin-bottom: 53px;
  }
  .burger-menu .header__logo {
    width: 97px;
    height: 51px;
    margin-top: 19px;
  }
  .burger-menu .header__left-button {
    margin-right: 17px;
    background-image: url("../img/x.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .header__right-button {
    margin-right: 24px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .main {
    display: flex;
    flex-direction: column;
  }
  .burger-menu .main__navigation-a {
    display: flex;
    padding-left: 24px;
    margin-bottom: 32px;
    border: none;
    background-color: white;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
  }
  .burger-menu .main__navigation-ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .burger-menu .footer {
    display: flex;
    flex-direction: column;
  }
  .burger-menu .footer__info {
    display: flex;
    flex-wrap: wrap;
  }
  .burger-menu .footer__button {
    display: flex;
    margin-right: 16px;
  }
  .burger-menu .footer__button:first-child,
  .burger-menu .p__text-email,
  .burger-menu .p__text-number {
    margin-left: 24px;
  }
  .burger-menu .footer__button:first-child {
    margin-right: 16px;
    background-image: url("../img/t.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .footer__button:nth-child(2) {
    margin-right: 16px;
    background-image: url("../img/chat.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .footer__button:nth-child(3) {
    background-image: url("../img/k.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .p__text-email {
    font-family: "TT Lakes Medium";
    margin-bottom: -12px;
  }
  .burger-menu .p__text-number {
    margin-bottom: 0;
    font-size: 24px;
    line-height: 32px;
    font-family: "Extra Bold";
    white-space: nowrap;
    padding-right: 350px;
  }
  .burger-menu .footer__button-language {
    font-size: 16px;
    margin-left: 0px;
    margin-right: 7px;
    margin-top: 8px;
    padding-right: 0px;
    padding-left: 0px;
    border: none;
    background-color: white;
  }
  .burger-menu .footer__button-language:first-child {
    margin-left: 24px;
    color: rgb(126, 126, 130);
  }
  .burger-menu .button:hover {
    filter: invert(100%);
    transition-duration: 0.2s;
  }
  .burger-menu .main__navigation-a:hover {
    border-left: #41f6d7 solid 4px;
    color: rgb(126, 126, 130);
  }
  .burger-menu .footer__button:first-child:hover {
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
  .burger-menu .header__left-element .header__button:hover {
    transform: rotate(135deg);
    transition-duration: 0.5s;
    opacity: 1;
    background-color: transparent;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1440px) {
  .burger-menu-bg {
    background: white;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    display: none;
    opacity: 96.05%;
  }
  .burger-menu-bg--open {
    display: block;
  }
  .burger-menu {
    display: none;
    z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    font-family: "TT Lakes Medium", "Extra Bold";
    color: black;
    width: 320px;
    background-color: white;
    padding: 0;
    margin: 0;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  }
  .burger-menu--open {
    display: block;
  }
  .burger-menu .header {
    display: flex;
    justify-content: space-between;
  }
  .burger-menu .header__left-element {
    display: flex;
    justify-content: flex-end;
  }
  .burger-menu .button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ff3e79;
  }
  .burger-menu .header__left-button,
  .burger-menu .header__right-button {
    margin-left: 24px;
    margin-top: 23px;
    margin-bottom: 53px;
  }
  .burger-menu .header__logo {
    width: 97px;
    height: 51px;
    margin-top: 19px;
  }
  .burger-menu .header__left-button {
    margin-right: 17px;
    background-image: url("../img/x.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .header__right-button {
    margin-right: 24px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .main {
    display: flex;
    flex-direction: column;
  }
  .burger-menu .main__navigation-a {
    display: flex;
    padding-left: 24px;
    margin-bottom: 32px;
    border: none;
    background-color: white;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
  }
  .burger-menu .main__navigation-ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .burger-menu .footer {
    display: flex;
    flex-direction: column;
  }
  .burger-menu .footer__info {
    display: flex;
    flex-wrap: wrap;
  }
  .burger-menu .footer__button {
    display: flex;
    margin-top: 238px;
    margin-right: 16px;
  }
  .burger-menu .footer__button:first-child,
  .burger-menu .p__text-email,
  .burger-menu .p__text-number {
    margin-left: 24px;
  }
  .burger-menu .footer__button:nth-child(3) {
    margin-right: 144px;
  }
  .burger-menu .footer__button:first-child {
    margin-right: 16px;
    background-image: url("../img/t.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .footer__button:nth-child(2) {
    margin-right: 16px;
    background-image: url("../img/chat.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .footer__button:nth-child(3) {
    background-image: url("../img/k.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .p__text-email {
    font-family: "TT Lakes Medium";
    margin-bottom: -12px;
  }
  .burger-menu .p__text-number {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;
    font-family: "Extra Bold";
  }
  .burger-menu .footer__button-language {
    margin-left: 0px;
    padding-right: 0px;
    padding-left: 0px;
    font-size: 16px;
    margin-right: 7px;
    margin-bottom: 32px;
    border: none;
    background-color: white;
  }
  .burger-menu .footer__button-language:first-child {
    margin-left: 24px;
    color: rgb(126, 126, 130);
  }
  .burger-menu .button:hover {
    filter: invert(100%);
    transition-duration: 0.2s;
  }
  .burger-menu .main__navigation-a:hover {
    border-left: #41f6d7 solid 4px;
    color: rgb(126, 126, 130);
  }
  .burger-menu .footer__button:first-child:hover {
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
  .burger-menu .header__left-element .header__button:hover {
    transform: rotate(135deg);
    transition-duration: 0.5s;
    opacity: 1;
  }
}
@media only screen and (min-width: 1441px) {
  .burger-menu {
    display: block;
    justify-content: center;
    flex-direction: column;
    padding-top: 10px;
    left: 0px;
    z-index: 2;
    font-family: "TT Lakes Medium", "Extra Bold";
    color: black;
    width: 276px;
    background-color: white;
    position: fixed;
    box-shadow: 16px 0 52px 0 rgba(14, 24, 80, 0.2), -2px 0 4px 0 rgba(69, 79, 126, 0.02);
  }
  .service-software {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 256px;
  }
  .equipment {
    padding-left: auto;
    overflow: hidden;
  }
  .burger-menu .header {
    display: flex;
    justify-content: space-between;
  }
  .burger-menu .header__left-element {
    display: flex;
    justify-content: flex-end;
  }
  .burger-menu .button {
    display: flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: none;
    background-color: #ff3e79;
  }
  .burger-menu .header__left-button,
  .burger-menu .header__right-button {
    margin-left: 24px;
    margin-top: 23px;
    margin-bottom: 53px;
  }
  .burger-menu .header__logo {
    width: 97px;
    height: 51px;
    margin-top: 19px;
    margin-left: 22px;
  }
  .burger-menu .header__left-button {
    display: none;
  }
  .burger-menu .header__right-button {
    margin-right: 24px;
    background-image: url("../img/search.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .main {
    display: flex;
    flex-direction: column;
  }
  .burger-menu .main__navigation-a {
    display: flex;
    padding-left: 24px;
    margin-bottom: 32px;
    border: none;
    background-color: white;
    font-family: "TT Lakes Medium";
    font-size: 16px;
    line-height: 24px;
  }
  .burger-menu .main__navigation-ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  }
  .burger-menu .footer {
    display: flex;
    flex-direction: column;
  }
  .burger-menu .footer__info {
    display: flex;
    flex-wrap: wrap;
  }
  .burger-menu .footer__button {
    display: flex;
    margin-top: 238px;
    margin-right: 16px;
  }
  .burger-menu .footer__button:first-child,
  .burger-menu .p__text-email,
  .burger-menu .p__text-number {
    margin-left: 19px;
  }
  .burger-menu .footer__button:first-child {
    margin-right: 16px;
    background-image: url("../img/t.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .footer__button:nth-child(2) {
    margin-right: 16px;
    background-image: url("../img/chat.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .footer__button:nth-child(3) {
    background-image: url("../img/k.svg");
    background-repeat: no-repeat;
    background-position: 50%;
  }
  .burger-menu .p__text-email {
    font-family: "TT Lakes Medium";
    margin-bottom: -12px;
  }
  .burger-menu .p__text-number {
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 32px;
    font-family: "Extra Bold";
  }
  .burger-menu .footer__button-language {
    padding: 0;
    font-size: 16px;
    margin-right: 7px;
    margin-bottom: 32px;
    border: none;
    background-color: white;
  }
  .burger-menu .footer__button-language:first-child {
    margin-left: 21px;
    color: rgb(126, 126, 130);
  }
  .burger-menu .button:hover {
    filter: invert(100%);
    transition-duration: 0.2s;
  }
  .burger-menu .main__navigation-a:hover {
    border-left: #41f6d7 solid 4px;
    color: rgb(126, 126, 130);
  }
  .burger-menu .footer__button:first-child:hover {
    transform: rotate(180deg);
    transition-duration: 0.5s;
  }
  .burger-menu .header__left-element .header__button:hover {
    transform: rotate(135deg);
    transition-duration: 0.5s;
    opacity: 1;
  }
}/*# sourceMappingURL=burgerMenu.css.map */