$border-top-blue: 1px solid #d9fff5;
$border-left-head: 3px solid #41f6d7;
$placeholder-color: #b5b6bc;
$link-color: #ff3e79;
$opacity: 0.9605;
$border-slide-swiper: 1px solid #eaeaea;
$header-text-color: #7e7e82;
$li-text-color: #1b1c21;
$slider-gradient-right: linear-gradient(
  270deg,
  #f8f8f8 16.84%,
  rgba(248, 248, 248, 0.0001) 100%
);
$font-TT-Lakes-Medium: 'TT Lakes Medium';
$font-TT-Bolds: 'ExtraBold';
