$border-top-blue:1px solid #D9FFF5;
$border-left-head: 3px solid #41F6D7;
$placeholder-color: #B5B6BC;
$link-color:#FF3E79;
$opacity:0.9605;
$border-slide-swiper: 1px solid #EAEAEA;
$header-text-color: #7E7E82; 
$li-text-color: #1B1C21;
$slider-gradient-right: linear-gradient(270deg, #F8F8F8 16.84%, rgba(248, 248, 248, 0.0001) 100%);
$font-TT-Lakes-Medium: 'TT Lakes Medium';
$font-TT-Bolds: 'ExtraBold';
  