
    @import 'stylei' ;
    
    .price .swiper-slide-active{
      width: 260px !important;
      height: 200px !important;
    }
    .price .swiper__slide-link{
      position: absolute;
      display: flex;
      left: 200px;
      top: 104px;  
    }
    @media only screen and (max-width: 768px)  {
    .price {
      .header {
        margin-top: 48px;
        display: flex;
        margin-bottom: 16px;
        border-top: $border-top-blue;
        .header__text{
          color: $header-text-color;
          margin: 16px;
          width: 288px;
          height: 48px;
        }
        }
        .main {
          position: relative;
          display: flex;
          margin-left: 8px;

          &::after{
            z-index: 1;
            content: "";
            position: absolute;
            top: -5px;
            right: 0px;
            min-width: 24px;
            height: 200px;
            background: $slider-gradient-right;
      }
      .swiper{
        position: static !important;
        .swiper-slide{ 
          position: relative;
        width: 260px !important;
        height: 200px !important;
        padding-left: 16px;
        border: $border-slide-swiper;
        border-radius: 6px;
        margin-right: 16px;

        .slide__ul,
        .slide__li{
          list-style-type: none;
          padding-left: 0px;
        }
        .slide__li{
          color: $li-text-color;
          line-height: 18px;
        }
        .slide__ul{
          margin-top: 16px;
          margin-right: 16px;
          margin-bottom: 0px;
          font-size: 14px;
          color:$header-text-color;
          &:last-child{
            margin-bottom: 20px;
          }
        }
      
        .swiper__slide-link{
          position: absolute;
          display: flex;
          left: 133px;
          top: 152px;  

          .swiper__slide-ico{
            display: flex;
            width: 119px;
            height: 32px;
            background-image: url('../img/ico.svg') ;
            background-repeat: no-repeat;
            background-position: 50%;
          }
        }
        }
        .swiper-pagination{
          display: flex;
          justify-content: center;
          top: 216px;
        }
      }
         
        }
        .aside__ivent{
          margin-left: 16px;
          margin-top: 32px;
          font-size: 14px;
          .aside__a-push{
            display: flex;
            align-items: flex-end;
            border:none;
            background-color: white;
            padding: 0px;
            text-decoration: none;
            .aside__ivent-text {
              font-family: $font-TT-Lakes-Medium;
              color: black;
              font-size: 16px;
              line-height: 24px;
              text-align:left ;
              &::after{
                display: inline-block;
                margin-bottom: -9px;
                width: 24px;
                height: 27px;
                content: '';
                background-image: url('../img/more.svg');
                background-repeat: no-repeat;
                background-position: 50%;
                
              }
            }
          }
        }
    }
   
    }


    @media only screen and (min-width: 768px) and (max-width: 1120px) {
  .price {
    position: relative;
    .header {
      margin-top: 48px;
      display: flex;
      margin-bottom: 56px; /* +39 px от ul */
      border-top: $border-top-blue;
      .header__text{
        margin-left: 24px;
      }  
    }
    .main {
      display: flex;
     
        .slide__li-repair,
        .slide__li-price,
        .slide__li-time{
          margin-top: 39px;
    }
    .ul__repair-visible,
    .ul__price-visible,
    .ul__time-visible{
      position: relative;
      top: -39px;
      }
      .slide__ul{
        
          flex-direction: column;
          margin-top: 0px;
          margin-right: 0px;
          margin-bottom: 0px;
          
            font-size: 14px;
            color:$header-text-color;
          
        .slide__li{
            visibility: visible;
            color: $li-text-color;
            line-height: 18px;
            
        }
      }
    .slide__ul,
    .slide__li{
    display: flex;
    list-style-type: none;
    padding-left: 0px;
    }
    
    .swiper-slide{
      ul:not(.ul__repair-visible):not(.ul__price-visible):not(.ul__time-visible) {
        visibility: hidden;
      }
      .slide__ul-repair{
        display: flex;
        width: 348px;
        height: 333px;
      }
      .slide__ul-price{
        margin-left: 24px;
        margin-right: 22px !important;
        display: flex;
        width: 74px;
        height: 333px;
      }
    .swiper__slide-link{
      position: absolute;
      display: flex;
      left: 585px;
      top: 16px;  
      .swiper__slide-ico{
        display: flex;
        width: 119px;
        height: 32px;
        background-image: url('../img/ico.svg') ;
        background-repeat: no-repeat;
        background-position: 50%;
      }
    }
  }
  }
  .aside__ivent{
    margin-left: 24px;
    margin-top: 24px;
    font-size: 14px;
    .aside__ivent-p{
      width: 421px;
      height: 60px;
      line-height: 20px;
      margin-bottom: 16px;
    }
    .aside__a-push{
      border:none;
      padding: 0px;
      text-decoration: none;
      .aside__ivent-text {
        font-family: $font-TT-Lakes-Medium;
        color: black;
        font-size: 16px;
        line-height: 24px;
        text-align:left ;
        &::after{
          display: inline-block;
          margin-bottom: -9px;
          width: 24px;
          height: 27px;
          content: '';
          background-image: url('../img/more.svg');
          background-repeat: no-repeat;
          background-position: 50%;
        }
      }
    }
  }
}
    
    /* Styles for when the slider is disabled */
.price .sample-slider.-non-slider{
  display: flex;
}
.price .sample-slider.-non-slider .swiper-wrapper {
    transform: inherit!important;   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.price .sample-slider.-non-slider .swiper-slide {
    margin-left: 40px;
    width: 704px !important;
    height: 64px !important;
    padding-left: 0px;
    border: none;
    border-bottom: $border-slide-swiper;
    border-radius: 0px;
    margin-bottom: 0px;
}
.price .sample-slider.-non-slider .swiper-slide:last-child{
  border: none;
}

.price .sample-slider.-non-slider .swiper-slide-duplicate {
    display: none;
}
.price .swiper{
  overflow: visible !important;
}

/* Styles for when the slider is disabled */

.price .sample-slider.-non-slider .swiper-slide{
  display: flex;
  position: relative;
}

}

    @media only screen and (min-width: 1121px) {

  .price {
    position: relative;
    .header {
      margin-top: 48px;
      display: flex;
      margin-bottom: 56px; /* +39 px от ul */
      border-top: $border-top-blue;
      .header__text{
        margin-left: 32px;
      }  
    }
    .main{
      display: flex;
      .swiper{

        .swiper-wrapper{

          .swiper-slide{
            ul:not(.ul__repair-visible):not(.ul__price-visible):not(.ul__time-visible) {
              visibility: hidden;
            }
            .ul__repair-visible,
            .ul__price-visible,
            .ul__time-visible{
              position: relative;
              top: -39px;
              .slide__li-repair,
              .slide__li-price,
              .slide__li-time{
                margin-top: 39px;
              }
            }
            .slide__ul-repair{
              display: flex;
              width: 348px;
              height: 333px;
            }
            .slide__ul-price{
              margin-left: 122px;
              margin-right: 153px !important;
              display: flex;
              width: 74px;
              height: 333px;
            }
            .swiper__slide-link{
              position: absolute;
              display: flex;
              left: 913px;
              top: 16px;  
              .swiper__slide-ico{
                display: flex;
                width: 119px;
                height: 32px;
                background-image: url('../img/ico.svg') ;
                background-repeat: no-repeat;
                background-position: 50%;
              }
            }
            .slide__ul,
            .slide__li{
            display: flex;
            list-style-type: none;
            padding-left: 0px;
              }
            .slide__ul{
              
                flex-direction: column;
                margin-top: 0px;
                margin-right: 0px;
                margin-bottom: 0px;

                font-size: 14px;
                color:$header-text-color;
                
              .slide__li{
                
                  color: $li-text-color;
                  line-height: 18px;
                
                  visibility: visible;
                
              }
            }
          }
        }
      }
    }
    .aside__ivent{
      margin-left: 32px;
      margin-top: 32px;
      font-size: 14px;
      .aside__ivent-p{
        width: 421px;
        height: 60px;
        line-height: 20px;
        margin-bottom: 16px;
      }
      .aside__a-push{
        border:none;
        padding: 0px;
        text-decoration: none;
        .aside__ivent-text {
          font-family: $font-TT-Lakes-Medium;
          color: black;
          font-size: 16px;
          line-height: 24px;
          text-align:left ;
          &::after{
            display: inline-block;
            margin-bottom: -9px;
            width: 24px;
            height: 27px;
            content: '';
            background-image: url('../img/more.svg');
            background-repeat: no-repeat;
            background-position: 50%;
          }
        }
      }
    }
  }
    
    /* Styles for when the slider is disabled */
.price .sample-slider.-non-slider{
  display: flex;
}
.price .sample-slider.-non-slider .swiper-wrapper {
    transform: inherit!important;   
    display: grid;
    grid-template-columns: repeat(1, 1fr);
}
.price .sample-slider.-non-slider .swiper-slide {
    margin-left: 52px; /* от края страницы */
    width: 1032px !important;
    height: 64px !important;
    padding-left: 0px;
    border: none;
    border-bottom: $border-slide-swiper;
    border-radius: 0px;
    margin-bottom: 0px;
}
.price .sample-slider.-non-slider .swiper-slide:last-child{
  border: none;
}

.price .sample-slider.-non-slider .swiper-slide-duplicate {
    display: none;
}
.price .swiper{
  overflow: visible !important;
}
.price .sample-slider.-non-slider .swiper-slide{
  display: flex;
  position: relative;
}
/* Styles for when the slider is disabled */



}